 <div class="test ray-grid__cell--span-7-desktop float-end align-content-center ">
        <aside class="smooth-border-2 pt-4  ray-grid  hiden" id="aside">
            <div class="ray-grid__cell--span-12-desktop justify-content-center">
                <div class="ray-grid__cell--span-6-desktop">
                    <span class="ray-text--display-2 averia">Graph view</span>
                </div>

                <div class="rel graph-view gh-container lil-smooth-border m-3">
                    <div class="abs col-1 ray-grid__cell--span-12-desktop graph-view  fd-view " id="networks">
                    </div>

                    <div class="abs ray-grid__cell--span-12-desktop graph-view treemap-view  " id="treemap">
                        <div class="" id="treemap-container"></div>
                    </div>
                </div>

                <div class="col-1 ray-grid__cell--span-12-desktop graph-footer ray-grid justify-content-around">
                    <div class="ray-grid__cell--span-4-desktop ray-grid justify-content-start" id="phone-hidden">
                        <div>
                            <button class="ray-button ray-button--secondary pin-btn">
                                Pin
                            </button>
                            <button class="ray-button ray-button--secondary cls-btn">
                                Close
                            </button>
                        </div>
                    </div>

                    <div class="ray-grid__cell--span-4-desktop p-segmented-control m-0 ray-grid justify-content-center">
                        <button class="ray-button ray-button--secondary m-0 fd-btn">
                            F-D graph
                        </button>
                        <button class="ray-button ray-button--secondary m-0 treemap-btn">
                            Treemap
                        </button>
                        <button class="ray-button ray-button--compact ray-button--secondary cls-btn phone-menu">
                            Close
                        </button>
                        <div class="losgo text-uppercase ray-text--monospace text-center ray-grid__cell--span-12-desktop mt-1"
                            id="phone-hidden">
                            Seg. controls
                        </div>
                    </div>

                    <div class="ray-grid__cell--span-4-desktop phone-hidden ray-grid justify-content-end"
                        id="phone-hidden">
                        <div>
                            <button class="ray-button ray-button--secondary dft-btn">
                                Default
                            </button>
                            <button class="ray-button ray-button--secondary wde-btn">
                                Wide
                            </button>
                            <div
                                class="losgo text-uppercase ray-text--monospace text-center ray-grid__cell--span-12-desktop mt-1">
                                Panel width
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>


    </div>