<main>
    <div class="intro ray-grid justify-content-center align-content-around">


        <div class="ray-grid ray-grid__cell--span-4 justify-content-between ">
            <h1 class="ray-text--display-1 averia ">rmap.rs<sup class="ray-text--body-dlarge">1</sup></h1>

            <div class="p-0 m-0 ray-grid__cell--span-full ">
                <div class="ray-text--body font-monospace  m-0">/r-Map/</div>
                <div class="ray-text--body gray emphasized ">webapp</div>
            </div>
            <ul>
                <li class="ray-text--body-large ">analyzes your source code repositories to construct a network
                    of dependencies between files and components.</li>
                <li class="ray-text--body-large ">visualize your codebase.</li>
            </ul>

            <div class="pt-2">
                <button class="ray-button ray-button--primary" onclick="location.href='/auth/authorize'">Sign in
                    with Github</button>
                <span class="p-1">
                    <a class="ray-button ray-link" href="https://github.com/daveyeb/rmap.rs"
                        data-color-scheme="no-preference: light; light: light; dark: dark;" data-size="large"
                        aria-label="Star daveyeb/rtree.rs on GitHub">Star</a>
                </span>
            </div>

        </div>

        <div class="ray-grid__cell--span-5-desktop">

        </div>
    </div>
</main>