<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="refresh" content="1; URL=/" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User authorized - redirecting</title>
    <style>
        body {
            background-color: #f1f0ea;
            color: #333 !important;
        }
    </style>
</head>

<body>
    success redirecting
</body>

</html>